# assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
#vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-widget-datepicker/
nbproject/private/private.xml
