# assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
#vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-widget-datepicker/
nbproject/private/private.xml
nbproject/private/private.xml
backend/web/images/Thumbs.db
frontend/web/images/Thumbs.db
backend/web/images/Thumbs.db
nbproject/project.xml
nbproject/private/private.xml

#common/database
backend/web/uploads/user/photo/88cd72e20f7c9efd6b1f4db195ddf446d3bf5cfb.png
frontend/web/88cd72e20f7c9efd6b1f4db195ddf446d3bf5cfb.png
nbproject/private/private.xml
