# assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
#vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-datecontrol/
vendor/kartik-v/yii2-widget-datepicker/
nbproject/private/private.xml
nbproject/private/private.xml
backend/web/images/Thumbs.db
frontend/web/images/Thumbs.db
backend/web/images/Thumbs.db
nbproject

#common/database
backend/web/uploads/user/photo/88cd72e20f7c9efd6b1f4db195ddf446d3bf5cfb.png
frontend/web/88cd72e20f7c9efd6b1f4db195ddf446d3bf5cfb.png
nbproject/private/private.xml
frontend/modules/lab/views/request/view.php
nbproject/private/private.xml
vendor/kartik-v/yii2-editable/
vendor/kartik-v/yii2-sortable-input/
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
common/models/lab/Sample_.php
common/models/lab/SampleSearch_20180611.php
frontend/modules/lab/controllers/SampleController_20180524.php
frontend/modules/lab/controllers/SampleController_20180614.php
frontend/modules/lab/controllers/SampleController_20180619.php
frontend/modules/lab/controllers/SampleController_20180624.php
frontend/modules/lab/controllers/SampleController_20180726.php
frontend/modules/lab/controllers/SampleController_20180727.php
frontend/modules/lab/views/request/view_20180524.php
frontend/modules/lab/views/request/view_20180622.php
frontend/modules/lab/views/request/view_20180624.php
frontend/modules/lab/views/request/view_bk20181705.php
frontend/modules/lab/views/sample/_cancel_20180625_bk.php
frontend/modules/lab/views/sample/_form_20180524.php
frontend/modules/lab/views/sample/_form_20180726.php
frontend/modules/lab/views/sample/_form_20180727.php
frontend/modules/lab/views/sample/_form_bak20180726.php
frontend/modules/lab/views/sample/create_20180509.php
frontend/modules/lab/views/sample/index_20180711.php
frontend/modules/lab/views/sample/index_20180727_bk.php
frontend/modules/lab/views/sample/update_20180509.php
frontend/modules/lab/views/sample/view_20180502.php
frontend/modules/lab/views/statistic/samplestat_20180627.php
frontend/modules/lab/views/statistic/samplestat_raw.php
frontend/modules/reports/modules/lab/views/accomplishment/index_20180701.php
frontend/modules/reports/modules/lab/views/accomplishment/index_20180711.php
frontend/modules/reports/modules/lab/views/accomplishment/index_20180712.php
frontend/modules/reports/modules/lab/views/statistic/samplestat_20180702.php
frontend/modules/reports/modules/models/Requestextend_20180702.php
frontend/modules/reports/views/default/index - Copy.php
frontend/modules/reports/modules/lab/views/statistic/customer_20180710.php
frontend/views/accomplishment/index.php
frontend/modules/lab/controllers/SampleController_20180730.php
frontend/modules/lab/controllers/SampleregisterController_20180626.php
frontend/modules/lab/views/statistic/index.php
frontend/modules/lab/views/sampleregister/index_bk.php
frontend/modules/lab/models/Customerextend.php
frontend/modules/reports/modules/models/Accomplishment.php
frontend/modules/reports/modules/lab/views/accomplishment/samplestat.php
frontend/modules/lab/views/sampleregister/index_20180810.php
frontend/modules/lab/views/analysis/_form_20180810.php
frontend/modules/reports/modules/lab/controllers/AccomplishmentController_20180801.php
frontend/modules/lab/controllers/SampleregisterController_20180814_bk.php
frontend/modules/lab/views/sampleregister/index_20180814.php
common/models/lab/SampleregisterSearch_20180820_bk.php
frontend/modules/lab/controllers/SampleregisterController_20180814.php
frontend/modules/lab/controllers/SampleregisterController_20180820_bk.php
frontend/modules/lab/models/Sampleextend_20180814.php
frontend/modules/lab/views/sampleregister/index_20180814-bk.php
frontend/modules/lab/views/sampleregister/index_20180815.php
frontend/modules/lab/views/sampleregister/index_20180820_bk.php
frontend/modules/referral_/controllers/AgencydetailsController.php
frontend/modules/referral_/controllers/AnalysisController.php
frontend/modules/referral_/controllers/AttachmentController.php
frontend/modules/referral_/controllers/BidController.php
frontend/modules/referral_/controllers/CancelledreferralController.php
frontend/modules/referral_/controllers/CourierController.php
frontend/modules/referral_/controllers/DefaultController.php
frontend/modules/referral_/controllers/FormopController.php
frontend/modules/referral_/controllers/FormrequestController.php
frontend/modules/referral_/controllers/LabController.php
frontend/modules/referral_/controllers/LabsampletypeController.php
frontend/modules/referral_/controllers/MethodreferenceController.php
frontend/modules/referral_/controllers/NotificationController.php
frontend/modules/referral_/controllers/PackagelistController.php
frontend/modules/referral_/controllers/PackageofferController.php
frontend/modules/referral_/controllers/ReferralController.php
frontend/modules/referral_/controllers/ReferraltrackreceivingController.php
frontend/modules/referral_/controllers/ReferraltracktestingController.php
frontend/modules/referral_/controllers/SampleController.php
frontend/modules/referral_/controllers/SampletemplateController.php
frontend/modules/referral_/controllers/SampletypeController.php
frontend/modules/referral_/controllers/SampletypetestnameController.php
frontend/modules/referral_/controllers/ServiceController.php
frontend/modules/referral_/controllers/TestnameController.php
frontend/modules/referral_/controllers/TestnamemethodController.php
frontend/modules/referral_/referral.php
frontend/modules/referral_/views/agencydetails/_form.php
frontend/modules/referral_/views/agencydetails/_search.php
frontend/modules/referral_/views/agencydetails/create.php
frontend/modules/referral_/views/agencydetails/index.php
frontend/modules/referral_/views/agencydetails/update.php
frontend/modules/referral_/views/agencydetails/view.php
frontend/modules/referral_/views/analysis/_form.php
frontend/modules/referral_/views/analysis/_search.php
frontend/modules/referral_/views/analysis/create.php
frontend/modules/referral_/views/analysis/index.php
frontend/modules/referral_/views/analysis/update.php
frontend/modules/referral_/views/analysis/view.php
frontend/modules/referral_/views/attachment/_search.php
frontend/modules/referral_/views/attachment/_form.php
frontend/modules/referral_/views/attachment/create.php
frontend/modules/referral_/views/attachment/index.php
frontend/modules/referral_/views/attachment/update.php
frontend/modules/referral_/views/attachment/view.php
frontend/modules/referral_/views/bid/_form.php
frontend/modules/referral_/views/bid/_search.php
frontend/modules/referral_/views/bid/create.php
frontend/modules/referral_/views/bid/index.php
frontend/modules/referral_/views/bid/update.php
frontend/modules/referral_/views/bid/view.php
frontend/modules/referral_/views/cancelledreferral/_form.php
frontend/modules/referral_/views/cancelledreferral/_search.php
frontend/modules/referral_/views/cancelledreferral/create.php
frontend/modules/referral_/views/cancelledreferral/index.php
frontend/modules/referral_/views/cancelledreferral/update.php
frontend/modules/referral_/views/cancelledreferral/view.php
frontend/modules/referral_/views/courier/_form.php
frontend/modules/referral_/views/courier/_search.php
frontend/modules/referral_/views/courier/create.php
frontend/modules/referral_/views/courier/index.php
frontend/modules/referral_/views/courier/update.php
frontend/modules/referral_/views/courier/view.php
frontend/modules/referral_/views/default/index.php
frontend/modules/referral_/views/formop/_form.php
frontend/modules/referral_/views/formop/_search.php
frontend/modules/referral_/views/formop/create.php
frontend/modules/referral_/views/formop/index.php
frontend/modules/referral_/views/formop/update.php
frontend/modules/referral_/views/formop/view.php
frontend/modules/referral_/views/formrequest/_form.php
frontend/modules/referral_/views/formrequest/_search.php
frontend/modules/referral_/views/formrequest/create.php
frontend/modules/referral_/views/formrequest/index.php
frontend/modules/referral_/views/formrequest/update.php
frontend/modules/referral_/views/formrequest/view.php
frontend/modules/referral_/views/lab/_form.php
frontend/modules/referral_/views/lab/_search.php
frontend/modules/referral_/views/lab/create.php
frontend/modules/referral_/views/lab/index.php
frontend/modules/referral_/views/lab/update.php
frontend/modules/referral_/views/lab/view.php
frontend/modules/referral_/views/labsampletype/_form.php
frontend/modules/referral_/views/labsampletype/_search.php
frontend/modules/referral_/views/labsampletype/create.php
frontend/modules/referral_/views/labsampletype/index.php
frontend/modules/referral_/views/labsampletype/update.php
frontend/modules/referral_/views/labsampletype/view.php
frontend/modules/referral_/views/methodreference/_form.php
frontend/modules/referral_/views/methodreference/_search.php
frontend/modules/referral_/views/methodreference/create.php
frontend/modules/referral_/views/methodreference/index.php
frontend/modules/referral_/views/methodreference/update.php
frontend/modules/referral_/views/methodreference/view.php
frontend/modules/referral_/views/notification/_form.php
frontend/modules/referral_/views/notification/_search.php
frontend/modules/referral_/views/notification/create.php
frontend/modules/referral_/views/notification/index.php
frontend/modules/referral_/views/notification/update.php
frontend/modules/referral_/views/notification/view.php
frontend/modules/referral_/views/packagelist/_form.php
frontend/modules/referral_/views/packagelist/_search.php
frontend/modules/referral_/views/packagelist/create.php
frontend/modules/referral_/views/packagelist/index.php
frontend/modules/referral_/views/packagelist/update.php
frontend/modules/referral_/views/packagelist/view.php
frontend/modules/referral_/views/packageoffer/_form.php
frontend/modules/referral_/views/packageoffer/_search.php
frontend/modules/referral_/views/packageoffer/create.php
frontend/modules/referral_/views/packageoffer/index.php
frontend/modules/referral_/views/packageoffer/update.php
frontend/modules/referral_/views/packageoffer/view.php
frontend/modules/referral_/views/referral/_form.php
frontend/modules/referral_/views/referral/_form_bk.php
frontend/modules/referral_/views/referral/_search.php
frontend/modules/referral_/views/referral/create.php
frontend/modules/referral_/views/referral/index.php
frontend/modules/referral_/views/referral/update.php
frontend/modules/referral_/views/referral/view.php
frontend/modules/referral_/views/referraltrackreceiving/_form.php
frontend/modules/referral_/views/referraltrackreceiving/_search.php
frontend/modules/referral_/views/referraltrackreceiving/create.php
frontend/modules/referral_/views/referraltrackreceiving/index.php
frontend/modules/referral_/views/referraltrackreceiving/update.php
frontend/modules/referral_/views/referraltrackreceiving/view.php
frontend/modules/referral_/views/referraltracktesting/_form.php
frontend/modules/referral_/views/referraltracktesting/_search.php
frontend/modules/referral_/views/referraltracktesting/create.php
frontend/modules/referral_/views/referraltracktesting/index.php
frontend/modules/referral_/views/referraltracktesting/update.php
frontend/modules/referral_/views/referraltracktesting/view.php
frontend/modules/referral_/views/sample/_form.php
frontend/modules/referral_/views/sample/_search.php
frontend/modules/referral_/views/sample/create.php
frontend/modules/referral_/views/sample/index.php
frontend/modules/referral_/views/sample/update.php
frontend/modules/referral_/views/sample/view.php
frontend/modules/referral_/views/sampletemplate/_form.php
frontend/modules/referral_/views/sampletemplate/_search.php
frontend/modules/referral_/views/sampletemplate/create.php
frontend/modules/referral_/views/sampletemplate/index.php
frontend/modules/referral_/views/sampletemplate/update.php
frontend/modules/referral_/views/sampletemplate/view.php
frontend/modules/referral_/views/sampletype/_form.php
frontend/modules/referral_/views/sampletype/_search.php
frontend/modules/referral_/views/sampletype/create.php
frontend/modules/referral_/views/sampletype/index.php
frontend/modules/referral_/views/sampletype/update.php
frontend/modules/referral_/views/sampletype/view.php
frontend/modules/referral_/views/sampletypetestname/_form.php
frontend/modules/referral_/views/sampletypetestname/_search.php
frontend/modules/referral_/views/sampletypetestname/create.php
frontend/modules/referral_/views/sampletypetestname/index.php
frontend/modules/referral_/views/sampletypetestname/update.php
frontend/modules/referral_/views/sampletypetestname/view.php
frontend/modules/referral_/views/service/_form.php
frontend/modules/referral_/views/service/_search.php
frontend/modules/referral_/views/service/create.php
frontend/modules/referral_/views/service/index.php
frontend/modules/referral_/views/service/update.php
frontend/modules/referral_/views/service/view.php
frontend/modules/referral_/views/testname/_form.php
frontend/modules/referral_/views/testname/_search.php
frontend/modules/referral_/views/testname/create.php
frontend/modules/referral_/views/testname/index.php
frontend/modules/referral_/views/testname/update.php
frontend/modules/referral_/views/testname/view.php
frontend/modules/referral_/views/testnamemethod/_form.php
frontend/modules/referral_/views/testnamemethod/_search.php
frontend/modules/referral_/views/testnamemethod/create.php
frontend/modules/referral_/views/testnamemethod/index.php
frontend/modules/referral_/views/testnamemethod/update.php
frontend/modules/referral_/views/testnamemethod/view.php
frontend/modules/reports/modules/lab/views/accomplishment/index_20180801.php
frontend/modules/reports/modules/models/Requestextend_20180801.php
frontend/modules/lab/views/request/view_bk20180517.php
frontend/modules/lab/views/request/view_bk20181016.php
frontend/modules/lab/views/request/_form_20181019.php
frontend/web/index.php
frontend/web/index.php
frontend/web/install/index.php
frontend/web/install/install.php
frontend/web/install_/index.php
frontend/web/install_/install.php
frontend/web/index.php
frontend/web/install/index.php
frontend/web/install/install.php
frontend/web/index.php
frontend/web/index.php
frontend/web/install/index.php
frontend/web/install/install.php
frontend/web/index.php
frontend/web/index.php
frontend/web/index.php
frontend/web/index.php
frontend/modules/lab/controllers/RequestController_20181025.php
frontend/modules/lab/views/request/view_20181029.php
common/config/params.php
common/config/params.php
common/config/params.php
common/components/Functions_20181126.php
common/config/bootstrap.php
frontend/modules/lab/views/request/_formReferral_20181126.php
frontend/modules/lab/controllers/RequestController_20181203.php
frontend/modules/lab/controllers/RequestController_20181203b.php
frontend/modules/lab/views/sample/_form_20180730.php
frontend/modules/lab/controllers/SampleController_20181019.php
frontend/modules/lab/views/sample/create_20180729.php
frontend/modules/lab/controllers/AnalysisController_20181121.php
frontend/modules/lab/controllers/SampleController_20181203.php
frontend/modules/lab/views/analysisreferral/_form - Copy.php
frontend/modules/lab/views/analysisreferral/_form_20180104.php
frontend/modules/lab/views/request/view_2018.php
frontend/modules/lab/views/analysisreferral/_form_20180106.php
frontend/modules/lab/controllers/AnalysisreferralController_20190109.php
frontend/modules/lab/controllers/RequestController_20181206.php
frontend/modules/lab/controllers/RequestController_20190108.php
frontend/modules/lab/views/analysisreferral/_form_20190104.php
frontend/modules/lab/views/analysisreferral/_form_20190106.php
frontend/modules/lab/views/analysisreferral/_form_20190109.php
frontend/modules/lab/views/request/view_20190109.php
common/components/ReferralComponent_20190111.php
frontend/modules/lab/controllers/AnalysisreferralController_20190112.php
frontend/modules/lab/controllers/RequestController_20190112.php
frontend/modules/lab/views/analysisreferral/_form_20190112.php
frontend/modules/lab/views/analysisreferral/_methodreference_20190110.php
frontend/modules/lab/views/analysisreferral/view_20181207.php
common/components/ReferralComponent_20190113.php
common/config/main_bk.php
frontend/views/admin-lte/layouts/left_bk.php
frontend/modules/lab/views/request/viewreferral_20190114.php
frontend/web/images/img-loader30--.gif
