
::selection {
   background: #565656;
}

.search-wrapper {
    
    position: absolute;
    transform: translate(-5%, -50%);
    /*top:15%;*/
    margin-top: 5%;
}
.search-wrapper.active {
    margin-left:30px;
    margin-right:20px;
    width: 95%;
}

.search-wrapper .input-holder {    
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:100%; 
    border-radius: 50px;
    background: rgb(167, 210, 234);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;

    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:10px;
    background: #3c8dbc;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 10px;
    left: 9px;
    top: 18px;
    border-radius: 16px;
    background: #fff;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 23px;
    height: 23px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #fff;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    left:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    left:+100%;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0, 0.105, 0.035, 1.570);
    transition-delay: 0.10s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

.box-wrapper{
    display: inline-block;
    position: relative;
    width: 30%;
    height: auto;
    margin: 5px;
    background-color: #cfe5f1;

    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
}


div.view img{
    height:60%;
    width: 100%;
    /*display: inline-block;*/
}

div.view img:hover{
     transform: scale(1.1);
      z-index: -1;
      border-radius: 10px;
      transition: all .3s cubic-bezier(0.80, 0.105, 0.105, 0.105);
}

div.view{
    background-color: #fff;
    height: auto;
    position: relative;
    margin:5px;
    display: block;
}

.sticky {
  position: fixed;
  top: 0;
  margin-right: 10px;
}

.stickysrchbox {
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
}

#cart .items div.item{
    display: table;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
}


#cart .items{
    padding-top: 5px;
}

#cart .items div{
    display: table;
    border-collapse: collapse;
    /*margin-top: 2px;
    margin-bottom: 2px;*/
}

div.iteminfo{
   /* display: table-cell;
    vertical-align: middle;
    text-align: center;*/

}

div.iteminfo .itemtitle{
        line-height: 20px;
        font-size: 14pt;
}

div.iteminfo .itemcode{
    color: #9e9e9e;
    font-size: 10px;
    line-height: 20px;
    margin-top: 5px;
}

div.iteminfo .itemqty{
        line-height: 20px;
        font-size: 14pt;
        width: 100%;
        text-align: center;
}

div.iteminfo .itemcost{
    color: #9e9e9e;
    font-size: 12px;
    line-height: 10px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}


div.itemfee{
    font-weight: bold;
    font-size: 16pt;
    /*font-family: Roboto-Medium;*/
    padding-left: 5px;
    display: table-cell;
    text-align: right;
    white-space: nowrap;
}