/*
Project Name: eulims_
Copyright(C)2018 Department of Science & Technology -IX
Developer: Eng'r Nolan F. Sunico 
07 10, 18 , 1:24:54 PM
Module: progress-spinner
*/
/* 
    Created on : 07 10, 18, 1:24:54 PM
    Author     : OneLab
*/
#ProgressSpinner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0px;
    text-align:center;
    display:none;
    font-size:30px
}
.imgHover:hover{
        border-radius: 25px;
        box-shadow: 0 0 0 5pt #3c8dbc;
        transition: box-shadow 0.5s ease-in-out;
    }
        
    .animationload {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
    }
    .osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #3c8dbc none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    }
    .osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #3c8dbc transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
    }
    @keyframes osahanloading 
    {
        0% {
        transform: rotate(0deg);
        }
        50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }